@font-face {
  font-family: 'Medula One';
  font-style: normal;
  font-weight: 400;
  src: url(LoO8LDXpiOs8e6qJRLl2SVQlYEbsez9cZjKsNMjLOwM.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/medulaone/v3/LoO8LDXpiOs8e6qJRLl2SVQlYEbsez9cZjKsNMjLOwM.eot*/;
  src: local('Medula One'), local('MedulaOne-Regular'), url(LoO8LDXpiOs8e6qJRLl2SVQlYEbsez9cZjKsNMjLOwM.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/medulaone/v3/LoO8LDXpiOs8e6qJRLl2SVQlYEbsez9cZjKsNMjLOwM.eot*/ format('embedded-opentype'), url(LoO8LDXpiOs8e6qJRLl2SRsxEYwM7FgeyaSgU71cLG0.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/medulaone/v3/LoO8LDXpiOs8e6qJRLl2SRsxEYwM7FgeyaSgU71cLG0.woff*/ format('woff');
}
