/* versuz responsive landing page template */
/* by iWebStudio */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home page
:: Inner Styles
:: Elements
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
	background:#fff;
	font-family:ChivoBlack;
	
}
p{text-align:right}
#wrapper {
	margin:0;
	padding:0;
	width:100%;
}

/* -----------------------------------------
   section top
----------------------------------------- */

header {
	background:#111;
	padding-bottom:30px;
	
	
}

#top{
	margin:0;
	padding: 0;
	width:100%;
	color:#fafafa;
}

#top h1, #top h2, #top h3{
	color:#fff;
	font-family:ChivoBlack;
}

header .logo {
	margin:30px 0 0 0;
	padding:0;
	float:left;
}

header .logo a {
	display:block;
	height:100%;
	width:100%;
}

/* navigation */

nav#navigation {
	float:right;
	margin-top:30px;
	z-index:1000;
}

ul.menu {	
	height: 40px;
	width: 100%;
	list-style:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

ul.menu li {
	position: relative;
	list-style: none;
	float: left;
	height: 40px;
}



/* Links */

.menu li a {
	display: block;
	padding: 0 14px;
	margin: 6px 0;
	line-height: 28px;
	text-decoration: none;
	font-family: ChivoBlack;
	font-weight: bold;
	font-size: 13px;
	color: #fefefe;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }

.menu li:hover > a { color: #1a1a1a; }



/* Sub Menu */

ul.menu ul {
    display: none;
	position: absolute;
	top: 40px;
	left: 0;
	float:none;
	z-index:2000;
	background: #1f2024;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;

	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}

.menu li:hover > ul { opacity: 1; display:block;float: none; }

ul.menu ul li {
	padding: 0;
	min-width:150px;
	width:100%;
	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

.menu li:hover > ul li {
	height: 36px;
}

.menu ul li a {
	width: 100%;
	padding: 4px 15px 4px 40px;
	margin: 0;
	display:block;
	border: none;
}


ul.menu li ul li a { background: url("../images/menu_arrow.png")no-repeat 6px center; }

.menu ul li:hover a{
	display:block;
}


.menu ul li:last-child a { border: none; }

ul.menu li ul li a {
	border-left:none;
	border-right:none;
}


.menu li:hover > ul li {
	border-bottom: 1px solid #353539;
}

nav select {
   display: none;
   border:1px solid #080808;
}

/*================================== 
Featured area 
===================================*/
#featured{	
	z-index:100;
	background:url("../images/glow.png") no-repeat bottom center; 
	padding-bottom:70px;
}
#featured iframe{
	background:url("../images/white-trans.png")/*tpa=http://iweb-studio.com/themepreview/lp/versuz/images/white-trans.png*/ repeat top left;
	padding:10px;
	-moz-box-shadow: 0 0 5px #1a1a1a;
	-webkit-box-shadow: 0 0 5px #1a1a1a;
	box-shadow: 0 0 5px #1a1a1a;
}
#intro{
	text-align:center;
	margin-bottom:30px;
}

#intro h1{
	padding-top:20px;
	margin-bottom:30px;
}

#intro h1 span{
	background:url("../images/intro-span.png")/*tpa=http://iweb-studio.com/themepreview/lp/versuz/images/intro-span.png*/ no-repeat bottom left;
	padding-bottom:10px;
	font-family: 'ChivoBlack';
	font-size: 44px;
}


/* Featured form */
.featured_form {
	width:800px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
}

.featured_form form {
	background:#111;
	overflow:hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
	padding:30px 20px;
}

.featured_form form .heading h4 {
	color:#fff;
}

.featured_form form .dotted {
	border-color:#333;
}

.featured_form form ul {
	list-style:none;
}

.featured_form ul li {
	margin-bottom:20px;
}

.featured_form table tr td label {
	float:right;
	margin-top:10px;
	font-weight:bold;
	width:auto;
	color:#fff;
	text-align:right;
	
}

.featured_form table tr td input ,select{
	line-height:1.5em;
	border:5px solid #3a3a3a;
	padding:10px;
	margin-bottom:20px;
	margin-left:50px;
	font-family: 'ChivoBlack';
	width:540px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align:right;	
}

.featured_form form button {

}

ul.feature_list{ }

ul.feature_list li{
	padding-left:20px;
	background:url("../images/checkmark.png")/*tpa=http://iweb-studio.com/themepreview/lp/versuz/images/icons/checkmark.png*/ no-repeat 0px 3px;
}


/* -----------------------------------------
   section middle
----------------------------------------- */

#middle{
	margin:0;
	padding:0 0 0 0;
	width:100%;
}




/*=== 2nd row ==*/
.video {

}

a.zoom-video { position:absolute; width:100%; height:auto; left:0px; top:0px; text-indent:-9999px; background:#000 url("../images/zoom-video.png")/*tpa=http://iweb-studio.com/themepreview/lp/versuz/images/icons/zoom-video.png*/ center no-repeat; }   




ul.client-testimoni{
	width:80%;
	margin-left:10% auto !important;
	margin-right:10% auto !important;
	min-height:130px;
}

ul.client-testimoni li{

	margin-left:10% auto !important;
	margin-right:10% auto !important;
	padding:0 !important;
}


.testimonial h3{
	font-weight:normal;
	color:#333333;
	text-shadow:0 1px 1px #fdfdfd;
}

.testimonial p{
	font-family:ChivoBlack;
	color:#575757;
	font-size:30px;
	line-height:1.5em;
}

.testimonial span.author,.testimonial span.company {
	margin:0;
	padding:0;
	color:#575757;
	text-shadow:0 1px 1px #fdfdfd;	
}

.testimonial span.author,.testimonial span.company {
	margin:0;
	padding:0;
	font-size:14px;
	text-align:right;
}


.testimonial span.company {
	color:#bfbebb;
	font-style:italic;
	margin-left:10px;
}



.title {
	border-top:1px dotted #ddd;
	display:block;
	padding:20px 10px 10px;
	margin-bottom:30px;
}

.framed {
	overflow:hidden;
}



/* -----------------------------------------
   box product 
----------------------------------------- */

.box{
	background:#f5f5f5;
	position:relative;
	height:330px;
}

.box:hover {
-webkit-box-shadow: 0px 1px 6px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 1px 6px rgba(50, 50, 50, 0.5);
box-shadow:         0px 1px 6px rgba(50, 50, 50, 0.5);
}

.box h4{
	color:#999999;
}

.box p{
	margin-bottom:0;
}

.box-image{
	margin:0 auto;
	background:#111111;

}

.box-image:hover {
		-webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
	  -o-transition: all 0.3s ease;
	  transition: all  0.3s ease;
}

.box-image img{
width:250px;
height:160px;
}

.box-label{
	padding:6px 3px 6px 3px;
	position:absolute;
	top:20px;
	right:-10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;	
}

.box-label span{
	color:#fff;
	text-shadow:1px 1px 1px #699f02;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;	
	padding:5px 10px 5px 10px;	
}

.box-desc {
	padding:20px;
}

a.zoom { position:absolute; width:100%; height:auto; left:5px; top:5px; text-indent:-9999px; background:#000 url("../images/zoom.png")/*tpa=http://iweb-studio.com/themepreview/lp/versuz/images/icons/zoom.png*/ center no-repeat; }   


.rotate img.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;   
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;  
    overflow:hidden;
}  
 
.rotate:hover img.rotate {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.rotate a.more {
	display:block;
	margin-left:50px;
	font-family:ChivoBlack;
}
.title h3{font-family:ChivoBlack;}
.rotate h5{font-family:ChivoBlack;}

img.dummy {
	max-width:100%;
	height:auto;
	margin-bottom:15px;
}

/* -----------------------------------------
   section bottom
----------------------------------------- */

#bottom{
	margin:10px 0 0 0;
	padding:0;
	width:100%;
	color:#fafafa;
	float:left;
}

#bottom-wrapp{
	margin:0;
	padding:40px 0 0 0;
	width:100%;
} 

#bottom h1, #bottom h2, #bottom h3, #bottom h4, #bottom h5,#bottom h6{
	color:#fff;
}


/* social links icon */
.social_small {
	margin: 0;
}

.social_small li {
	display: inline;
	list-style: none;
	text-indent: -9999px;
	margin-left: 5px;
	float: left;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
		
.social_small li.first {
	margin-left:0;
}

.social_small li a {
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;
	height: 43px;
	width: 40px;
}

.social_small li:hover {background-position: 0 -43px;}

/* Social Widget Icons */
#social a {
	width: 40px;
	height: 43px;
	margin: 0 10px 0 0;
	display: block;
	float: left;
	text-indent: -9999px;
	background-position: 0 -43px;
}

#social a img{
	border: none;
}

/* Icons */
.facebook {background: url("../images/fb.png") no-repeat;}
.googleplus {background: url("../images/google.png") no-repeat;}
.dribble {background: url("../images/dribble.png") no-repeat;}
.flickr {background: url("../images/flickr.png") no-repeat;}
.twitter {background: url("../images/twitter.png")no-repeat;}



/* footer */

footer .footnote {
	padding-top:30px;
	background:#111;
}

footer img.logo {
	margin-bottom:15px;
}

footer a {
	color:#fbfbfb;
}
footer ul.footermenu li{
	text-align:right;
	list-style:none
	}
footer ul.footermenu li a:hover {
	margin-left:3px;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
/* -----------------------------------------
   position
----------------------------------------- */

.left{
	float:left;
}

.right{
	float:right;
}

.center{
	margin:0 auto;
	text-align:center;
}

.relative{
	position:relative;
}

.absolute{
	position:absolute;
}

img.left{
	margin:0 20px 20px 0;
}

img.right{
	margin:0 0 20px 20px;
}

/* -----------------------------------------
   button
----------------------------------------- */

.btn, .btn:visited {
	position: relative;
	margin-bottom:15px;
	display: inline-block;
	color: #fff;
	background:#cc3300;
	border:1px solid #b92800;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	cursor: pointer;
}
.btn:hover { color:#fff; background-color:#e23800; border-color:#cd2c00 }
.btn:active	{ color:#ccc; background-color:#a42900; background-position:0px -4px; border-color:#942000;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}

/* ------ size --------*/
.btn.big {
	font-size:22px;
	padding: 15px 25px 15px;
	line-height:1.5em;
}

.btn.medium {
	font-size:16px;
	padding: 10px 20px;
	line-height:1.5em;
}

.btn.small {
	font-size:12px;
	padding: 5px 10px;
	line-height:1.5em;
	font-weight:bold;
}

/*--------------*/


.btn span {
	font-size:12px;
}

.yellow, .yellow:visited { background-color:#ffc000; color:#000; border-color:#ebb100; text-shadow:0px 1px 0px rgba(255,255,255,0.3); }
.yellow:hover { color:#000; background-color:#ffcc00; border-color:#eabb00; }
.yellow:active { color:#000; background-color:#e0a900; border-color:#ce9b00; }

.cta-button{
	float:right;
	margin-right:140px;
	background:#3a3a3a;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
		font-family:ChivoBlack;
	padding:0 9px 0 5px;

}

.cta-button span.text {
	float:right;
	background:none;
	color:#fff;
	font-size:1.6em;
	margin:24px 0 0 10px;
	text-align:right;
}

.cta-button.optin  {

}


a.cta1,button.cta1 {
	background-color:#ffc000;
	color:#000;
	border-color:#ebb100; 
		font-family:ChivoBlack;
	text-shadow:0px 1px 0px rgba(255,255,255,0.3);	
	display: block;
	float: left;
	margin:9px 0 9px 10px;
	text-decoration: none;
	text-transform:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
	outline:none;
}

/* cta button size */
.cta-button.optin.small span.text {
	font-size:12px;
	margin:15px 0 0 10px;
}
.cta-button.small .cta1 {
	font-size:1em;
	font-weight:bold;
	padding:0 9px 0 9px;
	line-height:30px;
	height:30px;
}

.cta-button.medium .cta1 {
	font-size:1.3em;
	padding:0 9px 0 9px;
	line-height:46px;
	height:46px;
}

.cta-button.big .cta1 {
	font-size:1.6em;
	padding:0 9px 0 9px;
	line-height:46px;
	height:46px;
}



a.cta1:hover,button.cta1:hover { color:#000; background-color:#ffcc00; border-color:#eabb00; }

a.cta1:active,button.cta1:active { color:#000; background-color:#e0a900; border-color:#ce9b00; }

/* form */

.form {
	
	overflow:hidden;
}



input.textinput {
	float:left;
	margin-right:10px;
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}

#cta_button input.optinbutton {
	margin-bottom:15px;
	display: inline-block;
	padding: 5px 10px 5px;
	font-size:12px;
	font-weight:bold;
	line-height:1.5em;
	border:1px solid #b92800;
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	cursor: pointer;
	background-color:#ffc000; color:#000; border-color:#ebb100; text-shadow:0px 1px 0px rgba(255,255,255,0.3)
}

#cta_button input.optinbutton:hover, #ask:hover ,#ask2:hover {
	color:#000; 
	background-color:#ffcc00; 
	border-color:#eabb00;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}

.form p.privacy img.lock {
	margin:2px 10px 0 0;
}

.form p.privacy {
	margin-top:20px;
	color:#fbfbfb;
	font-size:11px;
	text-align:left;
}


/* -----------------------------------------
   Spacer
----------------------------------------- */

/*margin top */

.totop30 {
	margin-top:-30px;
}

.totop10 {
	margin-top:-10px;
}

.margintop0 {
	margin-top:0;
}

.margintop5 {
	margin-top:5px;
}

.margintop10 {
	margin-top:10px;
}

.margintop15 {
	margin-top:15px;
}

.margintop20 {
	margin-top:20px;
}

.margintop25 {
	margin-top:25px;
}

.margintop30 {
	margin-top:30px;
}

.margintop35 {
	margin-top:35px;
}

.margintop40 {
	margin-top:40px;
}

/*margin bottom*/

.marginbottom-10 {
	margin-bottom:-10px;
}

.marginbottom-20 {
	margin-bottom:-20px;
}

.marginbottom0 {
	margin-bottom:0px;
}
.marginbottom5 {
	margin-bottom:5px;
}

.marginbottom10 {
	margin-bottom:10px;
}

.marginbottom-10 {
	margin-bottom:-10px;
}

.marginbottom15 {
	margin-bottom:15px;
}

.marginbottom20 {
	margin-bottom:20px;
}
.marginbottom30 {
	margin-bottom:30px;
}

/* padding */
.padding30 {
	padding-top:30px;
}
.botpadding20 {
	padding-bottom:20px;
}

/*margin left & right */
.marginleft20 {
	margin-left:20px;
}

.marginright20 {
	margin-right:20px;
}

.marginright5 {
	margin-left:5px;
}



/*margin vary*/
.mtopbottom20 {
	margin:20px 0 20px 0;
}

.mtopbottom30 {
	margin:30px 0 30px 0;
}

.marginlr5 {
	margin:0 5px 0 5px;
}

.marginlr10 {
	margin:0 10px 0 10px;
}

/*--------------------------------
Line, divider, misc
-------------------------------------*/
.divider {
	height:1px;
	background:#fff url("../images/line.png")/*tpa=http://iweb-studio.com/themepreview/lp/versuz/images/line.png*/ repeat-x;
	margin-bottom:30px;
	margin-top:30px;
}

.line {
	height:1px;
	border-top:1px solid #ddd;
	margin-bottom:30px;
	margin-top:30px;
}

.dotted {
	height:1px;
	border-top:1px dotted #ddd;
	margin-bottom:30px;
	margin-top:30px;
}

.centerdiv {
	text-align:center;
	margin-left:0 auto;
	margin-right:0 auto;
}

#toTop{
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px; 
	overflow:hidden; 
	width:40px;
	height:40px;
	border:none;
	text-indent:-999px;
	background:url("../images/ui.totop.png")/*tpa=http://iweb-studio.com/themepreview/lp/versuz/images/ui.totop.png*/ no-repeat left top;
}

#toTopHover{
	background:url("../images/ui.totop.png")/*tpa=http://iweb-studio.com/themepreview/lp/versuz/images/ui.totop.png*/ no-repeat left -40px;
	width:40px;
	height:40px;
	display:block; 
	overflow:hidden; 
	float:left; 
	opacity: 0;
	-moz-opacity: 0;filter:alpha(opacity=0);
}
#dept{font-size:16px; margin-right:20px;}
ul.nav2 {
	float: right;
	list-style: none;
	padding: 5px 0px 0 0px;
	width: 270px;
	text-align:right;
	margin-right:10px;
	
	padding:10px 0 10px 0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

ul.nav2 li a{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 250px;
	float: right;
	
	line-height: 35px;
	border-bottom: 1px solid #000;
	
	color: #000;
	font-size: 14px;
	
	background-color:#5e8d03;
	padding-right: 20px;
	cursor: pointer;
    font-weight: ;
    overflow: hidden;
}

ul.nav2  li a:hover {
	color: #fff;
    border-bottom: 1px solid #000;
    
	float: right;

	
	line-height: 35px;

	font-size: 14px;
	padding-right: 20px;
	cursor: pointer;
    font-weight:  ;
}


ul.nav2 .sub_links{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
float:right;
width: 270px;
 padding-right:0px;

    color: #000;
    border-bottom: 1px solid black;
  
	float: right;
	list-style-image:url(images/arrow-small.png);
	background:#5e8d03;
	line-height: 35px;
	
	font-size: 15px;
	
	cursor: pointer;
    font-weight:  ;
}
ul.nav2 .sub_links:hover{float:right;padding-right:0px;

    color: black;
    border-bottom: 1px solid black;
   
	float: right;
	list-style-image:url(images/arrow-small.png);
	
	line-height: 35px;
	
	font-size: 14px;
	
	cursor: pointer;
   
-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
ul.nav2 .sub_links p {
	
	width: 270px;
	padding-right:10px;
	text-align:right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	
}
ul.nav2 .sub_links p a {
	
	width: 250px;
	float: right;
	line-height: 35px;
    
    background-position: 90% 50%;
	border-bottom: 1px solid #690;
	
	color: black ;
	font-size: 14px;
	padding-right:20px;
	cursor: pointer;
    font-weight: ;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

ul.nav2 .sub_links p a:hover {
    color: #000;
    width: 250px;
	float: right;
	line-height: 35px;
    background:#5e8d03;
    background-position: 88% 50%;
	border-bottom: 1px solid #000;
  -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	padding-right: 20px;
	cursor: pointer;
    font-weight: ;
    
}



#toTop:active, #toTop:focus 	{ outline:none; }
.rotate p{margin-top:-10px;}
.more{margin-top:-10px;}
#ask{
	float:right;
	margin-top:10px;
	margin-right:68px;
	display: inline-block;
	padding: 5px 10px 5px;
	font-size:12px;
	font-weight:bold;
	line-height:1.5em;
	border:1px solid #b92800;
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	cursor: pointer;
	background-color:#ffc000; color:#000; border-color:#ebb100; text-shadow:0px 1px 0px rgba(255,255,255,0.3)
	
	}
	#ask2{
	float:right;
	margin-top:70px;
	
	margin-right:-530px;
	display: inline-block;
	padding: 5px 10px 5px;
	font-size:12px;
	font-weight:bold;
	line-height:1.5em;
	border:1px solid #b92800;
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	cursor: pointer;
	background-color:#ffc000; color:#000; border-color:#ebb100; text-shadow:0px 1px 0px rgba(255,255,255,0.3)
	
	}
	
	.spacer15{
		font-family:ChivoBlack;
		
		}
		
#back{background:url(../images/scene06-nightbg.png) no-repeat ;}		

#content{width:1139px;margin:auto;margin-top:60px;margin-bottom:30px;display:block;position:padding:0px;}
#left{width:800px;float:left;padding:10px;
/*
border-top-right-radius:200px;
-moz-border-radius-topright:200px;
-webkit-border-top-right-radius:200px;*/
-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

background-color:#5e8d03 }
#right{margin-left:20px; float:left;width:290px;background-color:#111;
text-align:right;
-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-bottom:20px;
`}
.serv{width:250px;float:left;padding:5px;margin-bottom:20px;}
#serv_content{margin-top:30px;margin-left:10px;}
#news{width:1139px;margin:auto;display:block}
#serv_img{float:right;margin-left:5px;}
#serv_name{color:#fff;font-size:16px;font-weight:bold;margin-right:10px;}

#serv_details table{float:right;margin-top:-9px}

#serv_details table tr td{padding:5px; font-size:14px; color:#fff;text-align:right}
#serv_desc{font-size:13px;color:#FFF}
#other_serv{float:right;margin-right:5px;}
#other_serv h3{color:#eeeeee}
#other_serv a{color:#fff;margin-top:3px;}
#other_serv span{padding-right:5px;}
#other_serv a:hover{text-decoration:underline;}
#details{float:left;margin-top:30px;margin-right:-150px;}
#right h3 {color:#fff;margin-right:10px;padding-top:6px;font-size:16px;}
#serv_block{
	margin: 20px auto 0 auto;
	width:270px; 
	background-color:#5e8d03;
	height:390px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	}
	
#serv_block2{
	
	
	width:270px;
	margin: 20px auto 0 auto;
	 background-color:#5e8d03;
	 height:385px; 
	 -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-bottom:20px;
	}
#clear{clear:both}
#most{margin-right:15px;width:270px;}
#most img{float:right; border:2px solid #fff;margin-right:5px;}
#p{color:#fff;margin-right:72px;margin-top:-35px;float:right}
#h6 a{color:#fff; float:right;margin-right:5px;font-size:14px;}
#h6 a:hover{color:#000}
#adv {margin-right:5px;}
#adv img{margin-left:5px;margin-bottom:5px;}
#adv_block{
background-color:#5e8d03;
width:270px;
margin: 20px auto 0 auto;

 -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;}
	
#comment{float:right;margin-bottom:10px;
 -webkit-border-radius: 10-px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}	
#comments h3{color:#FFF;text-align:right;margin-top:20px;}
#comment img{float:right;

 -webkit-border-radius: 10-px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}
#comment h6 a{color:#fff}
#comment h6 a:hover{color:#000}
#comment p{color:#fff;margin-right:5;margin-top:-10px;width:630px;}
#profile_half1{float:right}
#profile_img{float:right;margin-left:5px;border: 4px solid #eeeeee}
#user_name{float:right;font-weight:bold;color:#fff;font-size:14px;text-transform:capitalize}
#message{float:right;color:#fff;font-size:12px;margin-top:-6px}
#message:hover{text-decoration:underline}
#edit{float:right;color:#fff;font-size:12px;margin-top:5px}
#edit:hover{text-decoration:underline}
#state{color:#fff;font-size:12px;margin-top:6px;}
#profile_half2{padding-top:20px;float:right;text-align:right}
#profile_half2 table tr td{float:right;}
#user_data{float:right}
#logout{float:left;color:#fff;font-size:13px;margin-left:-320px}
#logout:hover{text-decoration:underline}