/* Writepress responsive HTML blog magazine theme */
/* by iWebStudio */

/* -------------------------------------------------- 
   Theme skin : default / green
-----------------------------------------------------
*/

/* -----------------------------------------
   #355009
----------------------------------------- */

a, ul.menu ul li a:hover{
	color:#587f19;
}
#bottom{background:#111}
#top, .box-image:hover{
	background:#355009 
}

#featured{
	border-top:1px double #355009;
}

ul.menu li a {
	border-right: 1px solid #355009;
}

/* -----------------------------------------
   #5e8d03
----------------------------------------- */

header {
	border-bottom:5px solid #5e8d03;
}

#bottom .footnote{
	border-top:5px solid #5e8d03;
	height:50px;
	padding:5px;
}

ul.menu {	
	background: #5e8d03;
	background: -webkit-linear-gradient(top, #5e8d03 0%,#6b9e06 100%);
	background: -moz-linear-gradient(top, #5e8d03 0%,#6b9e06 100%);
	background: -o-linear-gradient(top, #5e8d03 0%,#6b9e06 100%);
	background: -ms-linear-gradient(top, #5e8d03 0%,#6b9e06 100%);
	background: linear-gradient(top, #5e8d03 0%,#6b9e06 100%);
}

/* -----------------------------------------
   #6b9e06
----------------------------------------- */

footer a:hover {
	color:#6b9e06;
}

ul.menu li a {
	border-left: 1px solid #6b9e06;
}

